## Python Conditional statements
The if statement is used in Python to check whether a condition is True or False, and then perform an action based on that condition. The basic syntax of the if statement is as follows:

```python
if condition:
    do something 
    
The condition is an expression that returns a boolean value (True or False). If the condition is True, then the code block that follows the if statement is executed. If the condition is False, then the code block is skipped.

Here is an example of how to use the if statement in Python:

In [2]:
x = 10
y = 5

if x > 0 and y > 0:
    print("Both x and y are positive")

Both x and y are positive

```python
we can use multiple if elif else block using the below syntax
if condition 1:
    do something
elif condition 2:
    do something
...
...
elif condition n:
    do something
else:
    do something

#### Question 1: WAP to check if number is positive , negative or zero.

In [8]:
def check(x):
    if x>0:
        print(f"{x} is positive")
    elif x<0:
        print(f"{x} is negative")
    else:
        print(f"{x} is zero")
    
x=float(input("enter the value of x"))
check(x)

enter the value of x -2

-2.0 is negative

####  WAP to grade a number (100-80) Grade A, (80-60) Grade B , (60-40) Grade C and less than 40 Grade D.

In [44]:
def check(marks):
    if marks<=100 and marks>=80:
        print(" grade A")
    elif marks<80 and marks>=60:
        print('Grade B')
    elif marks<60 and marks >=40:
        print('Grade C')
    else:
        print('Grade D')
marks = int(input("Enter your marks."))
check(marks)

Enter your marks. 65

Grade B

#### 1. Write a program to find the greatest of four numbers entered by the user.

In [47]:
def findGreatest(n1,n2,n3,n4):
    return max(n1,n2,n3,n4)
n1=float(input("enter num1:"))
n2=float(input("enter num2:"))
n3=float(input("enter num3:"))
n4=float(input("enter num4:"))
print('the greates number is: ')
findGreatest(n1,n2,n3,n4)

enter num1: 5
enter num2: 9
enter num3: 1
enter num4: 2

the greates number is:

9.0

#### 2. Write a program to find out whether a student has passed or failed if it requires a total of 40% and at least 33% in each subject to pass. Assume 3 subjects and take marks as an input from the user.

In [51]:
sub1=float(input("enter your subject1 marks:"))
sub2=float(input("enter your subject2 marks:"))
sub3=float(input("enter your subject3 marks:"))
total_percentage=((sub1+sub2+sub3)/300)*100
print(total_percentage)
if total_percentage >=40 and sub1>=33 and sub2>=33 and sub3>=33:
    print("pass")
else:
    print("fail")

enter your subject1 marks: 33
enter your subject2 marks: 32
enter your subject3 marks: 100

55.00000000000001
fail

#### 3. A spam comment is defined as a text containing following keywords:
“Make a lot of money”, “buy now”, “subscribe this”, “click this”. Write a program
to detect these spams.

In [56]:
p1='Make a lot of money'
p2='buy now'
p3='subscribe this'
p4='click this'
comment=input('enter your comment')
if (p1.lower() in comment.lower()) or (p2.lower() in comment.lower()) or (p3.lower() in comment.lower()) or (p4.lower() in comment.lower()):
    print(f'{comment} is spam comment')
else:
    print(f'{[comment]} is not spam comment')

enter your comment hello man please buy now

hello man please buy now is spam comment

#### 4. Write a program to find whether a given username contains less than 10 characters or not.

In [58]:
name=input("enter your username: ")
if len(name)<10:
    print(f"{[name]} contain less than 10 characters")
else:
     print(f"{[name]}  does not contain less than 10 characters")

enter your username:  sunil mainali

['sunil mainali']  does not contain less than 10 characters

## python loop statement

##### In Python, loops are used to execute a block of code repeatedly. There are two types of loops in Python: for loops and while loops.

### 1. python for loop
The for loop is used in Python to iterate over a sequence of values, such as a list, tuple, string, or range. The basic syntax of a for loop is as follows:

```python
for variable in sequence:
    do something

The variable is a new variable that is created with each iteration of the loop, and takes on the value of the next element in the sequence. The code block that follows the for statement is executed for each value in the sequence.

Here's an example of how to use the for loop to iterate over a list:

In [12]:
fruits=['apple','banana','mango','cherry']
for fruit in fruits:
    print(fruit)

apple
banana
mango
cherry

##### In this example, the for loop iterates over each element in the fruits list, and assigns the value of each element to the fruit variable. The code block that follows the for statement (which is just a print statement in this case) is executed for each element in the list.


##### The range function is commonly used in for loops to generate a sequence of integers. Here's an example:

In [13]:
list(range(5))

[0, 1, 2, 3, 4]

In [14]:
for i in range(5):
    print(i*2)

0
2
4
6
8

##### Nested for loops can also be used to iterate over multiple sequences. Here's an example:

In [21]:
adj=['red','big','tasty']
fruits=['apple','banana','mango','cherry']
for a in adj:
    for fruit in fruits:
        print(a,fruit)

red apple
red banana
red mango
red cherry
big apple
big banana
big mango
big cherry
tasty apple
tasty banana
tasty mango
tasty cherry

#### Question 1 : Write a Program to Calculate the Sum of the First N Natural Numbers:

In [26]:
def sum(n):
    value=0
    for s in range(n+1):
        value=value+s
    print(f"the sum of first {n} natural number is: {value} ")
n=3
sum(n)

the sum of first 3 natural number is: 6

#### Question 2 : Write a Program to Display the Multiplication Table of a Given Number:

In [32]:
num=4
print(f" the multiplication table of {num} is :\n ")
for i in range(1,11):
    product=num*i
    print(f" {num}x{i}={product} ")

 the multiplication table of 4 is :

 4x1=4
 4x2=8
 4x3=12
 4x4=16
 4x5=20
 4x6=24
 4x7=28
 4x8=32
 4x9=36
 4x10=40

In [92]:
# *
# **
# ***
# ****

for i in range(1,5):
    res='*' * i
    print(res)

*
**
***
****

### 2. Python While Loop
The while loop is used in Python to repeat a block of code as long as a certain condition is true. The basic syntax of a while loop is as follows:
```python
while condition:
    do something

The condition is an expression that returns a boolean value (True or False). The code block that follows the while statement is executed repeatedly as long as the condition is True. If the condition is initially False, then the code block is skipped entirely.

Here's an example of how to use the while loop in Python:

In [34]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In this example, the while loop repeats the code block as long as i is less than 5. The code block that follows the while statement (which is just a print statement and an increment statement in this case) is executed repeatedly as long as the condition is True.

It's important to be careful with while loops to avoid creating an infinite loop. If the condition is always True, then the loop will continue to run indefinitely. Here's an example of an infinite loop:

In [ ]:
i = 0

while i < 5:
    print(i)

In this example, the while loop condition is initially True, and the code block is executed repeatedly. However, the value of i is never updated within the loop, so the condition will always be True and the loop will continue to run indefinitely.

To avoid infinite loops, it's important to make sure that the condition in the while loop will eventually become False. One common technique is to use a variable that is updated within the loop, so  that the condition will eventually no longer be true. Here's an example:

In [35]:
count = 0

while count < 10:
    print(count)
    count += 1
    # count = count + 1

0
1
2
3
4
5
6
7
8
9

In this example, the count variable is updated within the loop, and the condition will eventually become False when count is no longer less than 10.

If we want to terminate loops at certain point we can use break inside the loops (works for both for and while loops). Here's an example:

In [36]:
count = 0

while count < 10:
    print(count)
    count += 1
    if count == 5:
        break

0
1
2
3
4

### Question 1 : Write a Program to Calculate the Sum of the First N Natural Numbers:

In [41]:
def sum(n):
    value=0
    i=0
    while i<=n:
        value=value+i
        i+=1
    print(f"the sum of first {n} natural number is: {value} ")
n=3
sum(n)

the sum of first 3 natural number is: 6

### Question 2 : Write a Program to Display the Multiplication Table of a Given Number:

In [43]:
def multiplication(mul):
    i=1
    while i<=10:
        res=mul*i
        print(f'{mul} x {i} ={res}')
        i+=1

multiplication(4)

4 x 1 =4
4 x 2 =8
4 x 3 =12
4 x 4 =16
4 x 5 =20
4 x 6 =24
4 x 7 =28
4 x 8 =32
4 x 9 =36
4 x 10 =40

#### 3. Write a program to greet all the person names stored in a list ‘l’ and which starts with S. l = ["Harry", "Soham", "Sachin", "Rahul"]

In [60]:
 l = ["Harry", "Soham", "Sachin", "Rahul"]
for name in l:
    if name.startswith('S'):
        print(f"Hello {name}")

Hello Soham
Hello Sachin

#### 4. Write a program to find whether a given number is prime or not.

In [76]:
n=int(input("enter a number: "))
if n <=1:
    print(f"{n} is not prime")
elif n==2:
    print(f"{n} is  smallest even prime")
else:
    for i in range(2,n):
        if n%i==0:
            print(f"{n} is not prime")
            break
        else:
            print(f"{n} is prime")

enter a number:  1

1 is not prime

In [82]:
numners=[1,2,3,4,5,6,7,8,9,10,11]
prime_number=[]
def is_prime(n):
    if n <=1:
        #print(f"{n} is not prime")
        return False
    elif n==2:
        #print(f"{n} is  smallest even prime")
        return True
    else:
        for i in range(2,n):
            if n%i==0:
                #print(f"{n} is not prime")
                return False
                break
            else:
                #print(f"{n} is prime")
                return True

for n in numbers:
    if is_prime(n):
        prime_number.append(n)
print(f"The prime number are {prime_number}")

The prime number are [2, 3, 5, 7, 9]

In [85]:
#### 7. Write a program to print the following star pattern.

 #   *
 #  ***
 # ***** for n = 3

In [112]:
n=5
for i in range(1,n+1):
    print(" " * (n-i),end="")
    print("*" *(2*i-1))

    *
   ***
  *****
 *******
*********

In [106]:
# 8. *
#    **
#    ***

In [109]:
n=3
for i in range(1,n+1):
   # print(" " * (n-i),end="")
    print("*" *i)

*
**
***

In [110]:
#9.     * * *
#       *   * for n = 3
#       * * *

In [121]:
n=6
for i in range(1,n+1):
    if i==1 or i==n:
        print("*" * n)
    else:
        print("*",end="")
        print(" "*(n-2),end="")
        print("*")

******
*    *
*    *
*    *
*    *
******